:root {
background-color: rgb(206, 222, 253);
}


header{
    background-color: rgb(255, 165, 214);
    border: 5px solid rgb(255, 140, 174);
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgb(140, 102, 141);
    font-size: 82%;
}

.producto{

    background-color: rgb(203, 225, 243);
    border: 2px solid rgb(138, 151, 175);
    box-shadow: 0px 0px 15px rgb(123, 135, 158);
    border-radius: 15px;

}
.producto h2{
    font-size: 160%;
    text-decoration: underline;
}
.producto p{
    font-size: 100%;
}

.precio{
    color: rgb(0, 108, 36);
    text-decoration: underline;
}